p,h1,h2,h3,h4,h4,h5,h6{
  margin: 0;
}
/* rs-block-text */

.rs-block-text{
  background-color: #fff;
}

.rs-block-text .banner {
  background: url('../img/banner-1.jpg') 6% 50% no-repeat;
  background-size: cover;
  height: 668px;
}

.rs-block-text .banner-header{
  width: 33%;
  margin-left: 45.6%;
  margin-top: -10px;
}

.rs-block-text .banner-head{
  font-family: "Open Sans Light", sans-serif;
  font-size: 50px;
  letter-spacing: 1.25px;
  color: #000;
  text-align: left;
  margin-bottom: -4px;
}

.rs-block-text .banner-caption{
  font-family: "Open Sans Regular", sans-serif;
  font-size: 23px;
  color: #000000;
  margin-top: 27px;
  letter-spacing: 0.57px;
  line-height: 26px;
}

.rs-block-text .custom-banner-btn{
  border-radius: 5px;
  border: none;
  padding: 14px 27px 13px 27px;
  margin-top: 23px;
}

.rs-block-text .custom-btn-yellow{
  background-color: #ffe21a;
  color: #212121;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 16px;
}

.rs-block-text h2{
  font-family: "Open Sans Light", sans-serif;
  font-size: 50px;
  color: #424242;
  text-align: center;
}

.rs-block-text h4{
  font-family: "Open Sans Light", sans-serif;
  color: #424242;
  font-size: 23px;
}

.rs-block-text p,
.rs-block-text li{
  font-family: "Open Sans Regular", sans-serif;
  font-size: 16px;
  color: #424242;
  text-align: left;
  line-height: 21px;
}

.rs-block-text a{
  text-decoration: underline;
  color: #337ab7;
  font-size: 16px;
  line-height: 21px;
}

.rs-block-text .block-text-head{
  margin-bottom: 31px;
  margin-top: 68px;
}

.rs-block-text .bulleted-list{
  padding-left: 42px;
}

.rs-block-text .bulleted-list-head{
  margin-top: 26px;
  margin-bottom: 10px;
}

.rs-block-text .bulleted-list-item{
  margin-top: -1px;
  padding-left: 8px;
}

.rs-block-text .img-wrapper{
  margin-top: 32px;
}

.rs-block-text .img-responsive{
  height: 100%;
}

.rs-block-text .img-caption {
  margin-top: 7px;
  letter-spacing: .25px;
}

/* rs-decription-block */

.rs-decription-block.m-t-93{
  margin-top: 93px;
}

.rs-decription-block.m-t-70{
  margin-top: 70px;
}

.rs-decription-block{
  margin-top: 56px;
}

.rs-decription-block .bc-light-grey{
  background-color: #f6f6f6;
}

.rs-decription-block .c-p-9{
  padding-left: 38px;
  padding-top: 44px;
  padding-bottom: 50px;
  padding-right: 15px;
}

.rs-decription-block .p-r-0{
  padding-right: 0;
}

.rs-decription-block .p-l-0{
  padding-left: 0;
}

.rs-decription-block .h-100{
  height: 100%;
}

.rs-decription-block .c-p-3{
  padding-left: 3px;
  padding-top: 64px;
}

.m-b-70{
  margin-bottom: 70px;
}

.rs-decription-block h2{
  font-family: "Open Sans Light", sans-serif;
  font-size: 50px;
  color: #424242;
  text-align: center;
  margin-bottom: 57px;
}

.rs-decription-block h4{
  font-family: "Open Sans Light", sans-serif;
  font-size: 28px;
  color: #424242;
  
}

.rs-decription-block .block-text {
  font-family: "Open Sans Light", sans-serif;
  font-size: 16px;
  color: #424242;
  margin-top: 14px;
  line-height: 1.2;
}

.rs-decription-block .checked-list{
  width: 100%;
}

.rs-decription-block .checked-list-item{
  width: calc(33.3333333% - 10px);
  margin-right: 15px;
  margin-top: 24px;
}

.rs-decription-block .checked-list-item:nth-child(3n){
  margin-right: 0;
}

.rs-decription-block .checked-list-item:last-child{
  margin-right: 0;
}

.rs-decription-block .checked-list-item .item-text-head{
  font-family: "Open Sans Light", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.rs-decription-block .checked-list-item .item-text{
  font-family: "Open Sans Light", sans-serif;
  font-size: 14px;
  color: #616261;
  line-height: 1.2;
}

.rs-decription-block .checked-list-item .img-marker{
  margin-right: 12px;
}

.rs-decription-block .checked-list-caption{
  font-family: "Open Sans Light", sans-serif;
  color: #212121;
  font-size: 18px;
  text-align: left;
  border-bottom: 1px dashed #212121;
  margin-top: 29px;
  width: 396px;
}

.rs-decription-block .price-head{
  font-family: "Open Sans Light", sans-serif;
  font-size: 50px;
  color: #4f545a;
  margin-left: 0;
}

.rs-decription-block .price-head span{
  margin-left: -6px;
}

.rs-decription-block .price-head img{
  margin-top: -10px;
  margin-left: 8px;
}

.rs-decription-block .font-light{
  font-weight: 300;
}

.rs-decription-block .price-compare{
  color: #424242;
  font-family: "Open Sans Light", sans-serif;
  font-size: 14px;
  border-bottom: 1px dashed #424242;
  margin-top: 8px;
  width: 102px;
}

.rs-decription-block .btn-group-caption{
  margin-top: 10px;
  text-align: center;
}

.rs-decription-block .custom-btn-green{
  background-color: #91c73d;
  color: #fff;
  font-size: 15px;
  padding: 11px 56px 11px 56px;
  margin-top: 25px;
  margin-left: 1px;
  letter-spacing: .5px;
}

.rs-decription-block .custom-btn-default{
  background-color: transparent;
  border: 1px solid #4f545a;
  color: #4f545a;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 1px;
  padding: 11px 14px 12px 14px;
  letter-spacing: .6px;
}

.rs-decription-block .img-group-caption{
  font-size: 13px;
  font-family: "Open Sans Regular", sans-serif;
  color: #424242;
  margin-top: 5px;
  padding: 0px 6px;
  line-height: 1.1;
}

.rs-decription-block .img-group{
  border-top: 1px solid #c0c0c0;
  margin-top: 21px;
  width: 65%;
  margin-left: 2px;
}

.rs-decription-block .img-line{
  width: 100%;
  margin-top: 12px;
}

.rs-decription-block .img-line img:first-child{
  margin-right: 15px;
}

/* media */
@media (max-width: 1800px) {
  
  .rs-block-text .banner-header{
    margin-left: 48.6%;
  }
}

@media (max-width: 1700px) {
  
  .rs-block-text .banner-header{
    margin-left: 50.6%;
  }
}

@media (max-width: 1600px) {
  
  .rs-block-text .banner-header{
    margin-left: 51.6%;
  }
}

@media (max-width: 1400px) {
  
  .rs-block-text .banner-header{
    width: 40%;
  }
}

@media (max-width: 1200px) {
  
  .rs-block-text .banner-header{
    margin-left: 40%;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    padding: 35px 25px;
  }
}

@media (max-width: 992px) {
  
  .rs-block-text .banner-head{
    font-size: 40px;
  }

  .rs-decription-block .price-head img {
    width: 20px;
  }

  .rs-block-text .banner-caption{
    font-size: 18px;
  }

  .rs-decription-block .checked-list-item{
    width: calc(50% - 10px);
  }

  .rs-decription-block .checked-list-item:nth-child(3n){
    margin-right: 15px;
  }

  .rs-decription-block .checked-list-item:nth-child(2n){
    margin-right: 0;
  }

  .rs-decription-block .c-p-9{
    padding-left: 20px;
  }

  .rs-decription-block .price-head{
    font-size: 40px;
  }

  .rs-decription-block .custom-btn-default{
    font-size: 14px;
    padding: 9px 10px 9px 10px;
  }

  .rs-decription-block .custom-btn-green{
    font-size: 14px;
    padding: 11px 49px 11px 49px;
  }

}

@media (max-width: 767px) {

  .rs-decription-block .checked-list-item{
    width: calc(100% - 10px);
  }

  .rs-decription-block .checked-list-item{
    margin-right: 0;
  }

  .rs-decription-block .price-head{
    font-size: 30px;
  }

  .rs-decription-block .price-head img {
    width: 15px;
    margin-top: -4px;
  }

  .rs-decription-block .custom-btn-default{
    font-size: 14px;
    padding: 9px 10px 9px 10px;
  }

  .rs-decription-block .custom-btn-green{
    font-size: 14px;
    padding: 11px 49px 11px 49px;
  }

  .rs-decription-block .checked-list-caption{
    width: auto;
  }

  .rs-decription-block .c-p-3{
    padding-left: 8px;
    padding-right: 8px;
  }

  .rs-decription-block .img-line img:first-child{
    margin-bottom: 10px;
  }

  .rs-decription-block h2{
    font-size: 40px;
  }

  .rs-block-text h2{
    font-size: 40px;
  }

  .rs-decription-block.m-t-93 {
    margin-top: 70px;
  }  

}

@media (max-width: 686px) {
  
  .rs-block-text .banner-header{
    margin-left: 30%;
  }  
}

@media (max-width: 686px) {

  .rs-decription-block .custom-btn-default{
    font-size: 11px;
    padding: 8px 12px 8px 12px;
  }  

  .rs-decription-block .custom-btn-green{
    font-size: 13px;
    padding: 9px 39px 9px 39px;
  }  
}

@media (max-width: 586px) {
  
  .rs-block-text .banner-header{
    margin-left: auto;
    margin-right: auto;
  }  
}

@media (max-width: 586px) {
  .rs-decription-block .vsmall-100{
    width: 100%;
  }

  .rs-decription-block .c-p-9{
    padding-bottom: 5px;
  }

  .rs-decription-block .c-p-3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;
  }

  .rs-decription-block .p-l-0{
    padding-left: 15px;
  }

  .rs-decription-block .p-r-0{
    padding-right: 15px;
  }

  .rs-decription-block .price-head{
    display: none;
  }

  .rs-decription-block .img-group{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15px;
  }

  .rs-decription-block .img-line{
    flex-direction: row;
    margin-top: 0;
    width: auto;
    margin-left: 10px;
  }

  .rs-decription-block .img-line img:first-child{
    margin-bottom: 0;
  }

  .rs-decription-block .custom-btn-green{
    margin-top: 0;
    font-size: 13px;
    padding: 8px 39px 8px 39px;
    margin-left: 15px;
  }

  .rs-decription-block .custom-btn-default{
    margin-top: 0;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
    margin-left: 15px;
  }

  .rs-decription-block .block-text{
    font-size: 15px;
  }

  .rs-decription-block h2{
    font-size: 30px;
  }

  .rs-block-text .bulleted-list {
    padding-left: 25px;
  }  

  .rs-block-text .bulleted-list-item {
    margin-top: 7px;
    padding-left: 0;
    font-size: 14px;
  }  

  .rs-block-text p{
    font-size: 14px;
  }

  .rs-block-text a{
    font-size: 14px;
  }

  .rs-block-text h2{
    font-size: 30px;
  } 

  .rs-decription-block.m-t-93{
    margin-top: 50px;
  }

  .rs-decription-block.m-t-70 {
    margin-top: 50px
  }  
}

@media (max-width: 494px) {
  .rs-decription-block .c-p-3{
    flex-direction: column;
    align-items: center;
  }

  .rs-decription-block .price-compare{
    margin-top: 0;
    margin-bottom: 15px;
  }

  .rs-decription-block .custom-btn-green,
  .rs-decription-block .custom-btn-default{
    margin-left: 0;
  }

  .rs-decription-block .custom-btn-default{
    margin-top: 15px;
  }

  .rs-decription-block .img-group{
    flex-direction: column;
  }

  .rs-decription-block .img-line{
    margin-top: 10px;    
  }

}

@media (max-width: 486px) {
  
  .rs-block-text .banner-header{
    margin-left: auto;
    margin-right: auto;
  }  

  .rs-block-text .banner-head{
    font-size: 35px;
  }

  .rs-block-text .banner-caption{
    font-size: 15px;
  }
}
