p,h1,h2,h3,h4,h4,h5,h6{
  margin: 0;
}

.rs-main-menu, .rs-main-menu .navbar{
  height: 61px;
}

.rs-main-menu .container,
.rs-main-menu .navbar-header,
.rs-main-menu .navbar-brand,
.rs-main-menu .navbar-collapse,
.rs-main-menu .navbar-nav,
.rs-main-menu .navbar-nav > li,
.rs-main-menu .navbar-nav > li > a{
  height: 100%;
}

.rs-main-menu .navbar-default{
  background-color: #fafafa;
  border: none;
}

.rs-main-menu .menu-head{
  color: #000000;
  font-family: "Open Sans Light", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.rs-main-menu .navbar-brand{
  padding-top: 22px;
}

.rs-main-menu .custom-nav-link{
  font-family: "Open Sans Regular", sans-serif;
  color: #000000;
  font-size: 15px;
  
  padding-right: 0;
  padding-left: 0;
  padding-top: 25px;
  padding-bottom: 6px;
  margin-left: 26px;
  border-bottom: 4px solid transparent;
}

.rs-main-menu .custom-nav-link.active{
  border-bottom: 4px solid #ffde00;
}

.rs-main-menu .custom-nav-link{
  transition: border-color .5s;
}

.img-responsive-wrapper{
  display: block;
  width: 100%;
  height: 100%;
}

/* media */
@media (max-width: 992px) {
  
  .rs-main-menu .navbar-brand{ 
    padding-top: 21px;
  }

  .rs-main-menu .menu-head{
    font-size: 23px;
  }

  .rs-main-menu .custom-nav-link{
    font-size: 13px;
  }
}

@media (max-width: 790px) {
  
  .rs-main-menu .navbar-brand{ 
    padding-top: 24px;
  }

  .rs-main-menu .menu-head{
    font-size: 20px;
  }
}  

@media (max-width: 767px) {

  .rs-main-menu .navbar-collapse{
    height: auto;
    width: 100%;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
  }

  .rs-main-menu .custom-nav-link{
    font-size: 15px;
    text-align: center;
    margin-left: 0;  
    border-bottom-width: 1px !important; 
  }

  .rs-main-menu .container{
    padding-left: 0;
    padding-right: 0;
  }

  .rs-main-menu .small-m-l-15{
    margin-left: 15px;
  }

  .rs-main-menu .small-m-r-15{
    margin-right: 15px;
  }

  .rs-main-menu .navbar-toggle{
    margin-top: 16px;
  }
}

